{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp | Bulk Messaging</title>
    <link rel="shortcut icon" href="{% static 'icons/whatsapp.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
</head>
<body>

    {% if error %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning : </strong> {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <div class=" text-center"><h1 class="mt-5 mb-4 header-text"><img width="50" class="pb-2" src="{% static 'icons/whatsapp.svg' %}" alt=""> Bulk Messaging</h1></div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-12 mb-5 mb-md-0 mt-3">
            
                <div class="container px-5">
                    <form action="/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{new_form.as_p}}
                        <div class="mb-3">
                            <label for="document" class="form-label fw-bold ">Upload CSV</label>
                            <input class="form-control" type="file" id='document' name='document' required>
                        </div>
                        <div class="mb-3">
                            <label for="msg" class="form-label fw-bold ">Message Box</label>
                            <textarea class="form-control" id="msg" name="msg" rows="8" aria-label="" required></textarea>
                        </div>

                        <button id="submit" type="submit" class="btn" style="background-color: #4caf50;color:white"><strong>Send Message</strong></button>
                    </form>
                </div>

            </div>
            <div class="col-md-4 col-12 mb-5">
                <div style="margin-left:3.0rem;"><label for="img" class="form-label mb-4 fw-bold pl-5">Scan QR Code</label></div>
                <div id="image_block"><img id="qr_code" width="324" src="static/images/qr_scan.svg"  class="rounded mx-auto d-block" alt="Scan QR Code"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript">
        // after click submit run this function
        // $(document).on('click','#submit',function(e){
        //     var cur_img='';
        //     var loop = setInterval(()=>{
        //         $.ajax({
        //             type: 'POST',
        //             url: '/webwhatsapp/qrcode/',
        //             headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        //             dataType: "json",
        //             success: function (data) {
        //                 console.log(data['context']);
        //                 if(data['context']){
        //                     img_url = data['context']['qr_code_url'];
        //                     if(cur_img !== img_url){
        //                         $('#qr_code').attr('src', img_url);
        //                         console.log('QR Code Changed.');
        //                     }
        //                     if(data['context']['counter']===3 || data['context']['auth']){
        //                         console.log('Complete.');
        //                         clearInterval(loop)
        //                     }
        //                     cur_img=img_url;
        //                 }
        //             },
        //             error: function (ts) {
        //                 console.log(ts);
        //             }
        //         });
        //     },500);
        // }); 
        
    </script>
</body>
</html>